.idea/
.DS_Store
node_modules/
yarn-error.log
lerna-debug.log
.nyc_output/
coverage/
coverage.json
packages/kafka-event-consumer/test/config/base.conf
packages/mongo-event-builder/test/config/base.conf
packages/merminator/test/config

/docker/db-events/test/queue/
