extends layout

block content
    .container
        h1=name
        p The following services are available for your applications needs:

        .container
            .row
                .col
                    .card
                        .card-title
                            h3 Graphlettes
                        .card-body
                            ul
                            each graph in graphlettes
                                li
                                    a(href= graph.path)= graph.path

                .col
                    .card
                        .card-title
                            h3 Restlettes
                        .card-body
                            ul
                            each rest in restlettes
                                li
                                    a(href= rest.path + "/api-docs")= rest.path